﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-collapse">
        <div class="container">
            @if (User.Identity.IsAuthenticated)
            {
                SalesMVC.Models.AuthData user = ((SalesMVC.Code.CashierPrincipal)User).UserAuthData;
                <div class="navbar-header">
                    <a href="@Url.Action("Index", "Cashier")" class="navbar-brand">Главная</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><span class="glyphicon glyphicon-user"></span>@if (user != null)
                    {@user.FIO}</a></li>
                    <li><a href="@Url.Action("Logout", "Account")"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
                </ul>
            }
            else
            {
                <div class="navbar-header">
                    <a href="@Url.Action("Login", "Account")" class="navbar-brand">Главная</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li>
                </ul>

             
            }

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
