﻿@model SalesMVC.Models.LoginModel

@{
    ViewBag.Title = "Вход в систему";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">

            <div class="panel-body">
                <h3>Вход</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.ValidationSummary()
                    @Html.EditorFor(x => x.Login)
                    @Html.EditorFor(x => x.Password)
                    <div class="form-group clearfix">
                        <input class="btn btn-success" style="width:100%" type="submit" value="Войти" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>