﻿@model SalesMVC.Models.SalesHistoryModel
@{
    ViewBag.Title = "Журнал продаж";
}

<h2 style="text-align:center">Журнал продаж</h2>
<table class="table" >
    <thead>
        <tr>
            <th>Корзина</th>
            <th>Товары</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SalesMVC.Models.CartHistoryModel cart in Model.allCarts)
        {
            <tr>
                <td>Дата:@cart.Date</td>
                <td rowspan="4">
                    <table class="table table-condensed" >
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Стоимость</th>
                                <th>Кол-во</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(SalesMVC.Models.CartItemHistoryModel item in cart.ItemsInCart)
                            {
                                <tr>
                                    <td>@item.ItemName</td>
                                    <td>@item.ItemDescription</td>
                                    <td>@item.Price</td>
                                    <td>@item.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Стоимость:@cart.Cost</td>
            </tr>
            <tr>
                <td>Наличные:@cart.Cash</td>
            </tr>
            <tr>
                <td>Сдача:@cart.Change</td>
            </tr>
        }
    </tbody>
</table>


