﻿@model SalesMVC.Models.CartHistoryModel
@{
    ViewBag.Title = "Карта";
}

<h3>Дата создания:@Model.Date</h3>
<h3>Стоимость:@Model.Cost</h3>
<h3>Наличные:@Model.Cash</h3>
<h3>Сдача:@Model.Change</h3>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Стоимость</th>
            <th>Кол-во</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SalesMVC.Models.CartItemHistoryModel item in Model.ItemsInCart)
        {
            <tr>
                <td>@item.ItemName</td>
                <td>@item.ItemDescription</td>
                <td>@item.Price</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>
