﻿
@{
    ViewBag.Title = "Кассир";
}

<h2 style="text-align:center">Добро пожаловать в систему электронной кассы</h2>
<div class="row">
    <div class=" col-md-4 col-md-offset-4">

            <div class="panel-body">
                <div class="btn-group-lg">
                    <a href="@Url.Action("AllCarts", "Cashier")" class="btn btn-default btn-lg" style="width:100%" title="Журнал продаж">Журнал продаж</a>
                    <a href="@Url.Action("NewCart", "Cashier")" class="btn btn-default btn-lg" style="width:100%" title="Новая корзина">Новая корзина</a>
                </div>
            </div>
   
    </div>
</div>

