﻿@model SalesMVC.Models.CartModel
@{
    ViewBag.Title = "Новая корзина";
}

@using (Html.BeginForm("SaveNewSale", "Cashier", FormMethod.Post, new { @id = "newCartForm" }))
{
    <div id="cartItemsContainer">
        <div id="cartItems">
            @Html.Partial("~/Views/Cashier/partial/CartItems.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">Поиск товара:@Html.TextBox("SearchTextBox") <a class="btn btn-success" id="SearchLink">Поиск</a></div>
        <div class="col-md-6">Наличные:@Html.EditorFor(x => x.Cash) <input type="submit" class="btn btn-success " value="Сохранить корзину" /></div>
        
    </div>

   
    <br />
    <div id="SearchResultPartial">
        @Html.Partial("~/Views/Cashier/partial/SearchItem.cshtml", Model)
    </div>

    <br />
    <br />


}


<script type="text/javascript">
    $(document).ready(function () {
        $("#SearchLink").click(function () {
            var searchValue = $("#SearchTextBox").val();
            $("#SearchResultPartial").load('@(Url.Action("SearchItem", "Cashier", null, Request.Url.Scheme))?searchValue=' + searchValue);
        });
    });


    function itemListChangeClickListener(e) {
        var $newCartForm = $('#newCartForm');
        var $cartItemsContainer = $('#cartItemsContainer');

        e.defaultPrevented = true;
        e.preventDefault();
        var data = $newCartForm.serializeArray();

        $.ajax({
            url: this.href,
            data: data,
            method: 'POST'
        }).done(function (data) {
            $cartItemsContainer.empty();
            $cartItemsContainer.append(data);
        });
    }
    $('body').on('click', '.item-search-add-button-clicked', itemListChangeClickListener);
    $('body').on('click', '.item-delete-button-clicked', itemListChangeClickListener);



</script>
