﻿@model SalesMVC.Models.CartModel
@if (Model.ItemsInCart.Any())
{
    <h3>Сумма:@Model.TotalSum</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ItemsInCart.Count(); i++)
            {
                @Html.HiddenFor(x => x.ItemsInCart[i].ItemName)
                @Html.HiddenFor(x => x.ItemsInCart[i].ItemDescription)
                @Html.HiddenFor(x => x.ItemsInCart[i].ItemId, new { Value = Model.ItemsInCart[i].ItemId })
                @Html.HiddenFor(x => x.ItemsInCart[i].Price)
                @Html.HiddenFor(x => x.ItemsInCart[i].Count, new { Value = Model.ItemsInCart[i].Count })

                <tr>
                    <td>@Model.ItemsInCart[i].ItemName</td>
                    <td>@Model.ItemsInCart[i].ItemDescription</td>
                    <td>@Model.ItemsInCart[i].Price</td>
                    <td>@Model.ItemsInCart[i].Count</td>
                    <td>@Model.ItemsInCart[i].Sum</td>
                    <td>

                        <a class="btn btn-danger item-delete-button-clicked"
                           href="@Url.Action("DeleteItem", "Cashier",
                                new { itemId = @Model.ItemsInCart[i].ItemId})">
                            <i class="glyphicon glyphicon-trash"></i>Удалить
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}