﻿@model  SalesMVC.Models.CartModel

@if (Model.SearchResult.Any())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Результаты поиска</h3>
        </div>

        <div class="panel-body">Количество: @Html.TextBoxFor(x => x.AddItemCount) </div>
        <br />
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Доступное количество</th>
                    <th>Добавить</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SalesMVC.Models.SearchItemResultModel resultItem in Model.SearchResult)
                {
                    <tr>
                        <td>
                            @resultItem.ItemId
                        </td>
                        <td>
                            @resultItem.ItemName
                        </td>
                        <td>
                            @resultItem.ItemDescription
                        </td>
                        <td>
                            @resultItem.Count
                        </td>
                        <td>
                            <a class="btn btn-submit item-search-add-button-clicked" href="@Url.Action("AddItem", "Cashier", new { itemId = resultItem.ItemId})">Добавить</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}